/* core */

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

/* var */

:root {
    --bg-sec-color: #26D0CE;
    --bg-primary-color: #1A2980;
    --primary-color: #fafafa;
    --primary-fog-color: rgba(0,0,0,0.2);
}

/* main */

body {
    background: radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg, var(--bg-sec-color), var(--bg-primary-color) 90%);
}

.box {
    background: var(--primary-fog-color);
    margin: 5px;
    border-radius: 0.2em;
    padding: 15px;
    color: var(--primary-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 1.6em;
    margin: 15px 0px;
    display: block;
}

.heading::after {
    content: '';
    width: 50px;
    height: 2px;
    margin-top: 10px;
    display: block;
    background: var(--primary-fog-color);
}

.hide {
    display: none;
}

/* DataTabels */

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper table.dataTable tbody tr,
.dataTables_wrapper .dataTables_length select {
    color: var(--primary-color);
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable tfoot th, table.dataTable tfoot td {
    border-color: var(--primary-fog-color);
}

table.dataTable tbody tr {
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate > .paginate_button {
    display: none;
}

.table-ajax.loading thead,
.table-ajax.loading tfoot {
    display: none;
}

.table-ajax.loading [data-loading]::after {
    content: attr(data-loading);
}

/* Form  */

.form--select select {
    display: block;
    padding: 0.5em 0.25em;
    border: none;
    border-radius: 0.2em;
    font-size: 1.5em;
    outline: 0;
    box-shadow: 0 0 1em 0.25em var(--primary-fog-color);
    width: 100%;
}

/* Custom Section */

.section-weather {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-weather .form--label,
.section-weather .form--select {
    margin: 15px 0px;
}

.section-weather .checkform {
    flex: 1;
}

.section-weather .data {
    flex: 2;
}

.section-weather .section-weather__number {
    font-size: 3.2em;
    display: flex;
    justify-content: center;
}

.section-weather .section-weather__mainNumber::after {
    content: ",";
}

.section-weather .section-weather__decimalNumber {
    font-size: 0.6em;
    vertical-align: top;
}

.section-weather .section-weather__decimalNumber::after {
    content: "\00b0"
}

.section-weather .dataTable thead,
.section-weather .dataTable tfoot {
    text-align: left;
}

.section-weather table.dataTable tbody th, 
.section-weather table.dataTable tbody td {
    padding: 10px 18px;
}

.dataTables_wrapper .dataTables_paginate > span .paginate_button:not(.current) {
    background: rgba(255,255,255,0.2);
}